img {
    width: 100px;
    height: 100px;
}

.about {
    section {
        width: 100%;
    }

    .aboutSectionFirst {
        @include flexColumn;
        justify-content: flex-start;
        row-gap: 2vh;

        h2, article {
            width: 100%;
        }
    }
}