img {
    width: 100px;
    height: 100px;
}

.about {
    @include flexColumn;
    row-gap: 7vh;

    section, h2 {
        width: 100%;
    }

    ul {
        @include flexColumn;
        justify-content: flex-start;
        row-gap: .5vh;
    }

    li {
        text-align: left;
        width: 100%;
        list-style-type: disc;
        list-style-position: inside;
    }

    h3 {
        margin-bottom: 1vh;
    }

    h4 {
        margin-bottom: 2vh;
    }

    .aboutSectionFirst {
        @include flexColumn;
        justify-content: flex-start;
        row-gap: 1.5vh;

        > article {
            width: 100%;
        }
    }

    .aboutSectionSecond {
        @include flexColumn;
        row-gap: 1.5vh;

        > section > section {
            @include flexRow;
        }

        .chTable {
            border-right: 6px solid $defaultColorBlack;
            padding-right: 1vh;

            .chEvent {
                height: 35vh;
                padding-top: 5vh;
            }

            p {
                font-size: 14px;
            }
        }

        .chPictures {
            display: flex;
            flex-direction: column;
            align-items: center;

            .chEvent {
                @include flexRow;
                align-items: flex-start;
                justify-content: left;
                width: 100%;
                height: 40vh;

                > aside {
                    @include flexColumn;
                    row-gap: 1vh;
                    align-items: flex-start;
                    width: calc(100% - 2vh);

                    p {
                        text-align: left;
                        font-size: 12px;
                    }
                }

                > div {
                    width: 2vh;
                    height: 100%;
                    display: flex;

                    > span {
                        height: 1vh;
                        width: 3vh;
                        margin-top: 8vh;
                        background-color: $defaultColorBlack;
                    }
                }
            }
        }

        .chEvent {
            @include flexColumn;
            justify-content: left;

            p {
                text-align: center;
            }

            img {
                border-radius: 50%;
                border: 6px solid $defaultColorBlack;
            }

        }
    }
}