.contact {
    @include flexColumn;
    align-items: flex-start;
    row-gap: 4vh;

    > h1,
    > p,
    > section, 
    > form,
    textarea {
        width: 100%;
    }

    ul {
        @include flexColumn;
        align-items: flex-start;
        row-gap: 1vh;
    }

    > form {
        @include flexColumn;
        align-items: flex-start;
        row-gap: 1vh;

        input, textarea {
            border: 2px solid $defaultColorBlack;
            background-color: $defaultColorWhite;
        }

        > article {
            display: flex;
            justify-content: space-between;
            width: 100%;

            > input {
                width: 43%;
                padding-top: 1vh;
                padding-bottom: 1vh;
                padding-left: 2.5%;
                padding-right: 2.5%;
            }
        }

        > textarea {
            padding: 1vh;
            box-sizing: border-box;
            height: 20vh;
        }

        > button {
            padding: 1vh;
            border: 0px none transparent;
            background-color: $defaultColorBlack;
            color: $defaultColorWhite;
        }
    }
}