.contact {
    > form {
        > button {
            width: 20%;
            height: 5vh;
            font-size: 18px;
        }

        > article > input {
            width: 45%;
        }
    }
}