.works {
    @include flexColumn;
    align-items: flex-start;
    row-gap: 5vh;

    > figure {
        @include flexColumn;
        row-gap: 2vh;

        .worksContainer {
            position: relative;
            padding-bottom: 60%;
            width: 100%;
            display: flex;

            > img {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%
            }
        }
    }
}







