* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav,
footer,
main {
    @include flexColumn;
}

h1, h3, h4,
p,
li {
    color: dimgray;
}

main {
    padding: 5%;
}

a {
    text-decoration: none;
}

svg {
    width: 20px;
    height: 20px;
}

li {
    list-style-type: none;
}

header {
    background-color: gainsboro;
}

nav {
    background-color: $defaultColorBlack;
    padding: 2%;
}

main {
    background-color: $defaultColorWhite;
    overflow: hidden;
    padding: 2%;
}

footer {
    background-color: black;
}

@keyframes slidein {
    from {
      transform: translateX(-40px);
    //   background-color: khaki;
    }
  
    to {
      transform: translateX(calc(100%));
    //   background-color: red;
    }
  }

  @keyframes mouseMove {
    from {
        // rotate: 0deg;
        border: 20px solid $defaultColorBlack;
        border-right: 20px solid $defaultColorWhite;
    }

    to {
        // rotate: 45deg;
        border: 20px solid $defaultColorBlack;
        border-right: 0px solid $defaultColorWhite;
    }
  }

  @keyframes changeDirection {
    from {
        rotate: 45deg;
    }
    to {
        rotate: 135deg;
    }
  }