$defultColor: rgb(2, 255, 255);

//mobile
$iPhoneSE: 375px;
$iPhoneXR: 414px;
$iPhone12Pro: 390px;
$Pixel5: 393px;
$SamsungGalaxyS8plus: 360px;
$SamsungGalaxyS20Ultra: 412px;
$GalaxyFold: 280px;
$SamsungGalaxyA5171: 412px;


//tablet
$iPadAir: 820px;
$iPadMini: 768px;
$SurfacePro7: 912px;
$SurfaceDuo: 540px;

//desktop
$NestHub: 1024px;
$NestHubMax: 1280px;

