* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

html {
  scroll-behavior: smooth; }

nav,
footer,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1, h2, h3, h4,
p,
li {
  color: dimgray; }

a {
  text-decoration: none; }

svg {
  width: 20px;
  height: 20px; }

li {
  list-style-type: none; }

nav {
  background-color: #7c955d; }

header {
  background-color: #eeeed5;
  color: #eeeed5; }

main {
  background-color: #eeeed5;
  overflow: hidden;
  padding: 5%; }

footer {
  background-color: #7c955d; }

@media (min-width: 280px) {
  img {
    width: 100px;
    height: 100px; }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7vh; }
  .about section, .about h2 {
    width: 100%; }
  .about ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    row-gap: .5vh; }
  .about li {
    text-align: left;
    width: 100%;
    list-style-type: disc;
    list-style-position: inside; }
  .about h3 {
    margin-bottom: 1vh; }
  .about h4 {
    margin-bottom: 2vh; }
  .about .aboutSectionFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.5vh; }
  .about .aboutSectionFirst > article {
    width: 100%; }
  .about .aboutSectionSecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5vh; }
  .about .aboutSectionSecond > section > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .about .aboutSectionSecond .chTable {
    border-right: 6px solid #7c955d;
    padding-right: 1vh; }
  .about .aboutSectionSecond .chTable .chEvent {
    height: 35vh;
    padding-top: 5vh; }
  .about .aboutSectionSecond .chTable p {
    font-size: 14px; }
  .about .aboutSectionSecond .chPictures {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about .aboutSectionSecond .chPictures .chEvent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    height: 40vh; }
  .about .aboutSectionSecond .chPictures .chEvent > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
    align-items: flex-start;
    width: calc(100% - 2vh); }
  .about .aboutSectionSecond .chPictures .chEvent > aside p {
    text-align: left;
    font-size: 12px; }
  .about .aboutSectionSecond .chPictures .chEvent > div {
    width: 2vh;
    height: 100%;
    display: flex; }
  .about .aboutSectionSecond .chPictures .chEvent > div > span {
    height: 1vh;
    width: 3vh;
    margin-top: 8vh;
    background-color: #7c955d; }
  .about .aboutSectionSecond .chEvent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: left; }
  .about .aboutSectionSecond .chEvent p {
    text-align: center; }
  .about .aboutSectionSecond .chEvent img {
    border-radius: 50%;
    border: 6px solid #7c955d; }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    row-gap: 4vh; }
  .contact > h1,
  .contact > p,
  .contact > section,
  .contact > form,
  .contact textarea {
    width: 100%; }
  .contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    row-gap: 1vh; }
  .contact > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    row-gap: 1vh; }
  .contact > form input, .contact > form textarea {
    border: 2px solid #7c955d;
    background-color: #eeeed5; }
  .contact > form > article {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .contact > form > article > input {
    width: 43%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2.5%;
    padding-right: 2.5%; }
  .contact > form > textarea {
    padding: 1vh;
    box-sizing: border-box;
    height: 20vh; }
  .contact > form > button {
    padding: 1vh;
    border: 0px none transparent;
    background-color: #7c955d;
    color: #eeeed5; }
  header {
    position: relative;
    height: 7vh;
    width: 100%; }
  header h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 5vh;
    width: calc(100% - 5vh);
    height: 7vh;
    border-bottom: 1px solid #eeeed5; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: right;
    position: fixed;
    z-index: 99;
    width: 100%; }
  header nav details,
  header nav ul,
  header nav li,
  header nav a {
    width: 100%; }
  header nav summary::-webkit-details-marker {
    display: none; }
  header nav a,
  header nav summary,
  header nav h2 {
    color: #eeeed5; }
  header nav summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-type: none;
    width: 5vh;
    height: 7vh;
    border-bottom: 1px solid #eeeed5; }
  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start; }
  header nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5%;
    border-bottom: 1px solid #eeeed5; }
  .bar {
    font-size: 30px; }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10vh; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    height: 12vh; }
  footer p,
  footer a {
    color: #eeeed5; }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 5vh; }
  footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 100%;
    height: 100%; }
  footer p {
    font-size: 14px; }
  .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    row-gap: 5vh; }
  .works > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh; }
  .works > figure .worksContainer {
    position: relative;
    padding-bottom: 60%;
    width: 100%;
    display: flex; }
  .works > figure .worksContainer > img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; } }
