* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

html {
  scroll-behavior: smooth; }

nav,
footer,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1, h3, h4,
p,
li {
  color: dimgray; }

main {
  padding: 5%; }

a {
  text-decoration: none; }

svg {
  width: 20px;
  height: 20px; }

li {
  list-style-type: none; }

nav {
  background-color: #7c955d; }

header {
  background-color: #7c955d;
  color: #eeeed5; }

main {
  background-color: #eeeed5;
  overflow: hidden;
  padding: 2%; }

footer {
  background-color: #7c955d; }

@keyframes slidein {
  from {
    transform: translateX(-40px); }
  to {
    transform: translateX(calc(100%)); } }

@keyframes mouseMove {
  from {
    border: 20px solid #7c955d;
    border-right: 20px solid #eeeed5; }
  to {
    border: 20px solid #7c955d;
    border-right: 0px solid #eeeed5; } }

@keyframes changeDirection {
  from {
    rotate: 45deg; }
  to {
    rotate: 135deg; } }

@media (min-width: 280px) {
  .about {
    align-items: flex-start; }
  header {
    position: relative;
    height: 5vh;
    width: 100%; }
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 5vh;
    width: calc(100% - 5vh);
    height: 5vh;
    border-bottom: 1px solid #eeeed5; }
  .bar {
    font-size: 30px; }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: right;
    position: fixed;
    width: 100%; }
  nav details,
  nav ul,
  nav li,
  nav a {
    width: 100%; }
  nav summary::-webkit-details-marker {
    display: none; }
  nav a,
  nav summary,
  nav h2 {
    color: #eeeed5; }
  nav summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-type: none;
    width: 5vh;
    height: 5vh;
    border-bottom: 1px solid #eeeed5; }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start; }
  nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: left;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5%;
    border-bottom: 1px solid #eeeed5; }
  .home .testContainer {
    width: 100%;
    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    animation-iteration-count: infinite;
    animation-direction: normal; }
  .home .testContainer .circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 20px solid #7c955d;
    border-right: 20px solid #eeeed5;
    box-sizing: border-box;
    animation-name: mouseMove;
    animation-duration: .2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    animation-direction: alternate; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    height: 12vh; }
  footer p,
  footer a {
    color: #eeeed5; }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 5vh; }
  footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 100%;
    height: 100%; }
  footer p {
    font-size: 14px; } }
